body{
	background-color:#172A3A;
	color: #E0D8DE;
	overflow: hidden;
}
#head{
	width: 100%;
	height: 2.3em;
}
#title{
	text-align: center;
	font-size:2em;
	font-family:"Lucida Sans Unicode";
	font-weight: 600;
}
#body{
	width: 100%;
	height: 37em;
	background-color: #508991;
	border-radius: 12px;
	box-shadow: 3px 15px 20px #75DDDD;
}
#players{
	text-align: center;
	font-weight: bold;
	font-size: 1.15em;
}
#dForm{
	margin-right: 25%;
	margin-left: 10%;
	align-self: center;
	width: 80%;
	height: 4em;
	text-align: center;
}
input{
	font-family:"Lucida Sans Unicode";
	margin-left: 5px;
	margin-right: 10px;
	text-align: center;
	width: 125px;
	height: 22px;
	font-weight: bold;
	background-color:#508991;
	color: #E0D8DE;
	box-shadow: 2px 2px 2px #75DDDD;
	border: 2px solid #75DDDD;
	border-radius: 15px;
}
select{
	font-family:"Lucida Sans Unicode";
	margin-left: 5px;
	margin-right: 10px;
	text-align: center;
	width: 85px;
	height: 25px;
	font-weight: bold;
	background-color:#508991;
	color: #E0D8DE;
	box-shadow: 2px 2px 2px #75DDDD;
	border: 2px solid #75DDDD;
	border-radius: 15px;
}
label{
	font-family:"Lucida Sans Unicode";
	font-weight: 700;
}

#button{
	font-family:"Lucida Sans Unicode";
	margin-left: 5px;
	margin-right: 10px;
	width: 125px;
	height: 22px;
	font-weight: bold;
	background-color:#508991;
	color: #E0D8DE;
	box-shadow: 2px 2px 2px #75DDDD;
	border: 2px solid #75DDDD;
	border-radius: 15px;
}