body{
	background-color:#172A3A;
	color: #E0D8DE;
	overflow: hidden;
}
#head{
	width: 100%;
	height: 2.3em;
}
#title{
	text-align: center;
	font-size:2em;
	font-family:"Lucida Sans Unicode";
	font-weight: 600;
}
#body{
	width: 100%;
	height: 37em;
	background-color: #508991;
	border-radius: 12px;
	box-shadow: 3px 15px 20px #75DDDD;
}
#player1{
	display: inline-block;
	border: 2px solid #75DDDD;
	border-radius: 5px;
	width:25%;
	height: 15em;
}
#player2{
	display: inline-block;
	border: 2px solid #75DDDD;
	border-radius: 5px;
	width:25%;
	height: 15em;
}
#player3{
	display: inline-block;
	border: 2px solid #75DDDD;
	border-radius: 5px;
	width:25%;
	height: 15em;
}
img{
	width: 65px;
	height: 65px;
}
.diceAnimation{
	display: inline-block;
}
.diceResult{
	display: inline-block;
}
#players{
	margin-left: 15px;
	margin-right: 15px;
}
.totalLine{
	display: inline-block;
	right: 45%;
	top: 1em;
	border: 1px solid black;
	align-self: center;
	text-align: center;
	height: 32px;
	width: 80%;
}
.total{
	display: inline-block;
}
.totalResult{
	display: inline-block;
}
#batton{
	width: 100%;
	height: 3em;
	position: relative;
}
input[type=submit]{
	margin: 0;
  	position: absolute;
  	top: 1em;
  	right: 45%;
  	font-weight: bold;
	background-color:#508991;
	color: #E0D8DE;
	box-shadow: 2px 2px 2px #75DDDD;
	border: 2px solid #75DDDD;
	border-radius: 15px;
	width: 125px;
	height: 22px;
}
#title{
	width: 100%;
	height: 3em;
	position: relative;
}
#titleR{
	font-size: 24px;
	margin: 0;
  	position: absolute;
  	top: 1em;
  	right: 45%;
}