body{
	background-color:#172A3A;
	color: #E0D8DE;
	overflow: hidden;
}
#head{
	width: 100%;
	height: 2.3em;
}
#title{
	text-align: center;
	font-size:2em;
	font-family:"Lucida Sans Unicode";
	font-weight: 600;
}
#body{
	width: 100%;
	height: 37em;
	background-color: #508991;
	border-radius: 12px;
	box-shadow: 3px 15px 20px #75DDDD;
}
#player1{
	display: inline-block;
	border: 2px solid #75DDDD;
	width:25%;
	height: 15em;
}
#player2{
	display: inline-block;
	border: 2px solid #75DDDD;
	width:25%;
	height: 15em;
}
#player3{
	display: inline-block;
	border: 2px solid #75DDDD;
	width:25%;
	height: 15em;
}
img{
	width: 50px;
	height: 50px;
}
.diceAnimation{
	display: inline-block;
}
.diceResult{
	display: inline-block;
}
#players{
	margin-left: 15px;
	margin-right: 15px;
}
#batton{
	width: 100%;
	height: 3em;
	position: relative;
}
#buttonR{
	margin: 0;
  	position: absolute;
  	top: 1em;
  	right: 45%;
}
#title{
	width: 100%;
	height: 3em;
	position: relative;
}
#titleR{
	font-size: 24px;
	margin: 0;
  	position: absolute;
  	top: 1em;
  	right: 45%;
}